WcfUsuarioNJoy/ClassLibrary2/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InserirUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_avatar" type="xs:int" />
        <xs:element minOccurs="0" name="id_capa" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cep" type="xs:int" />
        <xs:element minOccurs="0" name="tipo_id" type="xs:int" />
        <xs:element minOccurs="0" name="logado" type="xs:int" />
        <xs:element minOccurs="0" name="moeda" type="xs:int" />
        <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pontos" type="xs:int" />
        <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>